.big-card {
    margin: 0 20px;
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.big-card__photo > img {
    max-width: 100%;
    min-width: 100%;
}

.big-card__title {
    margin: 20px 0;
    font-size: 20px;
}

.big-card__description > p {
    color: #808080;
}