<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles__main">
        <app-big-card
            id="1"
            cover="https://placehold.co/600x400"
            title="Novo homem de ferro"
            description="Vai sair"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            id="2"
            cover="https://placehold.co/1100x700"
            title="Nova série"
        />
        <app-small-card
            id="3"
            cover="https://placehold.co/1100x700"
            title="Disney quer novos talentos"
        />
        <app-small-card
            id="4"
            cover="https://placehold.co/1100x700"
            title="Macaco rouba loja"
        />
    </div>
</div>