* {
    background-color: #111111;
    color: #FFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}